[submodule "dependencies/Log"]
	path = dependencies/Log
	url = https://github.com/njoy/Log.git
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/apmccartney/catch-adapter.git
