[submodule "dependencies/utility"]
	path = dependencies/utility
	url = https://github.com/njoy/utility.git
[submodule "dependencies/Log"]
	path = dependencies/Log
	url = https://github.com/njoy/Log.git
[submodule "dependencies/tclap-adapter"]
	path = dependencies/tclap-adapter
	url = https://github.com/apmccartney/tclap-adapter.git
[submodule "dependencies/catch-adapter"]
	path = dependencies/catch-adapter
	url = https://github.com/apmccartney/catch-adapter.git
[submodule "dependencies/dimwits"]
	path = dependencies/dimwits
	url = https://github.com/njoy/DimensionalAnalysis.git
[submodule "dependencies/njoy_c_bindings"]
	path = dependencies/njoy_c_bindings
	url = https://github.com/njoy/njoy_c_bindings.git
[submodule "dependencies/ENDFtk"]
	path = dependencies/ENDFtk
	url = https://github.com/njoy/ENDFtk.git
[submodule "dependencies/variant-adapter"]
	path = dependencies/variant-adapter
	url = https://github.com/njoy/variant-adapter.git
